/*
  Name: Lauren Wong
  Date: June, 2020
  Description: This is the styles.css file for the Flutter website which is a simple blogging site
  inspired by Twitter. This adds the style for the website that follows a simple and clean theme
  with lots of white, black, and grey as the main colors.
 */

body, main {
  font-family: 'Raleway', sans-serif;
  margin: auto;
}

main {
  width: 80%;
}

h1 {
  font-weight: 600;
  font-style: italic;
  margin-left: 30px;
}

header, nav, form, .user-info, .metadata, .reaction, .reaction-section, #info>section {
  display: flex;
}

header {
  box-shadow: 0px 10px 5px rgb(167, 167, 167);
  margin-bottom: 30px;
}

header, nav, .metadata, .reaction-section {
  justify-content: space-between;
}

nav {
  margin-right: 20px;
}

nav img {
  padding: 30px 10px 30px 10px;
  height: 25px;
  width: 25px;
}

nav img:hover, #avatars img:hover, #reaction>img:hover, .user-info img:hover {
  cursor: pointer;
  filter: drop-shadow(10px 10px 5px rgb(167, 167, 167));
}

.selected, .profile {
  filter: drop-shadow(10px 10px 8px rgb(167, 167, 167));
}

form {
  flex-direction: column;
  align-content: space-between;
}

#post-box {
  height: 200px;
  width: 400px;
}

#submit-btn {
  width: fit-content;
  padding: 5px;
  margin: 20px 0px 20px 0px;
}

form label {
  margin: 30px 10px 10px 0px;
}

#avatars img {
  height: 70px;
  width: 70px;
}

footer {
  box-shadow: 0px -10px 5px rgb(167, 167, 167);
  margin-top: 100px;
  padding: 20px;
}

.card, #info {
  box-shadow: 10px 10px 5px rgb(167, 167, 167);
  border-radius: 7px;
  padding: 20px;
  margin: 20px;
}

.profile {
  height: 30px;
  width: 30px;
  padding: 5px;
  margin-right: 15px;
}

.user-info h2 {
  margin: 10px;
}

.post, .reaction {
  margin-left: 65px;
}

.reaction img {
  height: 15px;
  width: 15px;
  margin: auto 10px auto 0px;
}

.reaction p {
  margin: 5px;
}

.reaction {
  width: 80px;
}

.reaction p {
  margin: 0px 5px 0px 5px;
}

#search-box {
  height: 25px;
  width: 300px;
  margin: auto;
}

.user-info h2:hover {
  text-decoration: underline;
  cursor: pointer;
}

.reaction-section {
  margin-top: 30px;
}

.reaction-section, #info>section, nav {
  align-items: center;
}

#greeting {
  height: 200px;
  width: auto;
  margin: 0px 40px 0px 0px;
}

.hidden {
  display: none;
}

.error {
  box-shadow: 10px 10px 5px rgba(255, 0, 0, 0.486);
  border-radius: 5px;
  padding: 50px;
}

footer, .error {
  text-align: center;
}